<div style="background-image: url(https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjimuKMm7zgAhXtK7kGHZ_SCPEQjRx6BAgBEAU&url=https%3A%2F%2Fpunchdrink.com%2Frecipes%2Fdantes-negroni%2F&psig=AOvVaw3zK6M8qASRmwDJ0wZdK50I&ust=1550267625257632)">
  <h1>#New</h1>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit %>
  <% end %>
</div>
