// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.container-padded {
  padding: 60px 40px;
}

.background {
  background-size: cover;
  height: 100vh;
  color: white;
}
