<div class="container">
  <h1>New dose</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.input :ingredient_id, collection: @ingredients %>
    <%= f.submit %>
  <% end %>
</div>
