// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";
@import "bar";
@import "footer";

.background {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
